[submodule "externalSrc/argparse"]
	path = externalSrc/argparse
	url = https://github.com/p-ranav/argparse
[submodule "externalSrc/rapidjson"]
	path = externalSrc/rapidjson
	url = https://github.com/Tencent/rapidjson
	branch = version1.1.0
[submodule "externalSrc/libredwg"]
	path = externalSrc/libredwg
	url = https://github.com/LibreDWG/libredwg
[submodule "externalSrc/eigen"]
	path = externalSrc/eigen
	url = https://gitlab.com/libeigen/eigen.git
	branch = 3.4
[submodule "externalSrc/nanoflann"]
	path = externalSrc/nanoflann
	url = https://github.com/jlblancoc/nanoflann
